.button {
  width: 11.25rem;
  padding: 0.8rem;
  border: none;
  background: url(/assets/fan-bg.svg) center #E07153;
  font-family: 'TT Interfaces';
  font-weight: bold;
  color: white;
  font-size: 0.875rem;
  cursor: pointer;

  &_rounded {
    width: 10.75rem;
    height: 10.75rem;
    border-radius: 50%;
    font-size: 1.125rem;
  }

  &:hover {
    opacity: 0.9;
  }
}