.back-to-catalog-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;

  &:hover &__text {
    opacity: 0.8;
  }

  &__arrow {
    margin-right: 1rem;
    background: url('../../../assets/arrow-back-to-catalog.png') no-repeat center;
    height: 1rem;
    width: 2rem;
  }

  &__text {
    font-family: 'TT Interfaces';
    font-weight: 500;
    font-size: 1rem;
    color: #1b1b1b;
  }
}