.footer {
  background-color: #1B1B1B;
  padding-bottom: 1.3rem;

  &__wrapper {
    position: relative;
    max-width: 78.375rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__logo {
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 1024px) {
      top: -2.5rem;
      left: 1rem;
      transform: none;
    }
  }

  &__links-and-socials {
    margin-top: 9rem;
    margin-left: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 425px) {
      margin-top: 7rem;
      flex-direction: row;
      align-items: baseline;
    }

    @media (min-width: 1024px) {
      display: block;
      margin-left: 11.4rem;
      margin-top: 2rem;
    }
  }

  &__links {
    display: flex;
    list-style: none;
  }

  &__link-container {
    margin-right: 2.4rem;
  }

  &__link {
    font-family: 'TT Interfaces';
    font-weight: normal;
    font-size: 0.875rem;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      color: #d4d4d4;
    }
  }

  &__socials {
    margin-top: 0.7rem;
    margin-left: 0.2rem;
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__social-link-container {
    margin-right: 0.9rem;
  }

  &__social-link {
    &:hover {
      opacity: 0.8;
    }
  }

  &__categories {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto 0;
    width: 90%;
    list-style: none;

    @media (min-width: 510px) {
      width: 40rem;
    }

    @media (min-width: 1024px) {
      margin-top: 2rem;
      margin-left: 3.1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      width: 28rem;
      height: 5rem;
    }
  }

  &__category-link {
    font-family: 'TT Interfaces';
    font-weight: normal;
    font-size: 0.875rem;
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
      color: #d4d4d4;
    }
  }

  &__phone-and-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto 0;
    flex-direction: column;

    @media (min-width: 510px) {
      align-items: baseline;
      flex-direction: row;
      width: 40rem;
    }

    @media (min-width: 1024px) {
      width: initial;
      display: block;
      margin: 2rem 1rem 0 auto;
    }
  }

  &__phone-link {
    font-family: 'TT Interfaces';
    font-weight: bold;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-decoration: none;
    text-align: right;
    white-space: nowrap;
  }

  &__working-time {
    font-family: 'TT Interfaces';
    font-weight: normal;
    font-size: 1rem;
    color: #FFFFFF;
    text-align: right;
    margin-top: 0.4rem;
    margin-right: 0.4rem;

  }

  &__copyright {
    font-family: 'TT Interfaces';
    font-weight: 300;
    font-size: 0.75rem;
    color: #FFFFFF;
    text-align: right;
    margin-top: 1.2rem;
    margin-right: 0.5rem;
  }
}