.promos {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0 0 0;
  gap: 1rem;

  @media (min-width: 510px) {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}