$slick-font-path: '~slick-carousel/slick/fonts/';
$slick-loader-path: '~slick-carousel/slick/';

@import '~slick-carousel/slick/slick', '~slick-carousel/slick/slick-theme';

.promo-slider {
  position: relative;
  min-height: 33rem;

  &__text {
    position: absolute;
    top: 7.313rem;
    left: 3.75rem;
    max-width: 31.25rem;
  }

  &__text-main {
    font-weight: bold;
    font-size: 2.5rem;
  }

  &__text-accented {
    font-weight: bold;
    font-size: 2.5rem;
    color: #e07153;
  }

  &__text-addition {
    font-weight: 500;
    font-size: 1.25rem;
    margin-top: 0.6rem;
  }

  &__more-button {
    position: absolute;
    bottom: 1rem;
    left: 3.75rem;
  }

  &__arrow {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: url('assets/right-button-arrow.png') center no-repeat white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    position: absolute;
    right: -2.5rem;
    z-index: 1;
    top: 10.5rem;
    cursor: pointer;

    &_left {
      right: initial;
      left: -2.4rem;
      transform: rotate(180deg);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
