.product-page {
  &__back-button {
    max-width: 78.375rem;
    margin: 2rem auto;
  }

  &__delimiter {
    height: 0.063rem;
    background-color: #E2E1E1;
    max-width: 78.375rem;
    margin: 0 auto;
  }

  &__product {
    max-width: 78.375rem;
    margin: 3rem auto 0;
  }

  &__feedback {
    max-width: 78.375rem;
    margin: 5.75rem auto 0;
  }

  &__about-company {
    max-width: 78.375rem;
    margin: 14rem auto 0;
  }

  &__footer {
    margin-top: 11.688rem;
  }
}