.user-profile {
  padding: 2.5rem;
  width: 30rem;
  background: #ffffff;
  box-shadow: 0px 0.75rem 2rem rgba(0, 0, 0, 0.08);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;

  &__image-container {
    text-align: center;
  }

  &__image {
    border-radius: 0.3rem;
  }

  &__title {
    font-family: 'TT Interfaces';
    font-size: 1.25rem;
    font-weight: 600;
    color: #1b1b1b;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__data-title {
    font-family: 'TT Interfaces';
    font-size: 1rem;
    font-weight: 600;
    color: #1b1b1b;
  }

  &__data-group {
    margin-bottom: 2rem;
  }

  &__data {
    width: 100%;
    margin-top: 0.2rem;
    background: #ffffff;
    font-family: 'TT Interfaces';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
  }

  &__button {
    width: 100%;
    padding: 0.8rem;
    border: none;
    background: url(assets/fan-bg.svg) center #e07153;
    font-family: 'TT Interfaces';
    font-weight: bold;
    color: white;
    font-size: 0.875rem;
    cursor: pointer;
    margin-bottom: 1rem;

    &:hover {
      opacity: 0.9;
    }
  }
}
