.mainpage {
  &__promo-slider {
    max-width: 78.375rem;
    margin: 3rem auto 0;
  }

  &__features-list {
    max-width: 78.375rem;
    margin: 2.2rem auto 0;
  }

  &__top-positions {
    max-width: 78.375rem;
    margin: 9.1rem auto 0;
  }

  &__combo-menu {
    max-width: 78.375rem;
    margin: 9.1rem auto 0;
  }

  &__promos {
    max-width: 78.375rem;
    margin: 9.1rem auto 0;
  }

  &__categories {
    max-width: 78.375rem;
    margin: 9.1rem auto 0;
  }
}