.category-page {
  &__content {
    max-width: 78.375rem;
    margin: 1rem auto 0;
    padding: 1rem;

    @media (min-width: 425px) {
      margin: 3rem auto 0;
    }
  }

  &__about-company {
    max-width: 78.375rem;
    margin: 0 auto;
    padding: 1rem;

    @media (min-width: 425px) {
      margin: 14rem auto 0;
    }
  }

  &__footer {
    margin-top: 7rem;

    @media (min-width: 425px) {
      margin-top: 11.688rem;
    }
  }
}