.category-page {
  &__content {
    max-width: 78.375rem;
    margin: 3rem auto 0;
  }

  &__dropdown {
    width: 18.625rem;
  }

  &__about-company {
    max-width: 78.375rem;
    margin: 14rem auto 0;
  }

  &__footer {
    margin-top: 11.688rem;
  }
}